{% extends 'base.html'%}

{% block content%}
    
<div class="overlay">

    <div id="loginBg" class="container1">
        <div id="group" class="division wrapper fadeInDown">
            <h3 id="log"> Login</h3>
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <div class="division" id="centered-card">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="username" id="usernme">Username</label>
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="btn">Login</button>
                </form>
                <p class="login-text" id="option-signup">Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>
        </div>
    </div>

</div>

{% endblock %}